API_PORT=3000

# Infraestructura
POSTGRES_DB=arkivo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Aplicación
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/arkivo

S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=arkivo
S3_REGION=us-east-1